.spinner-container {
  width: 100%;
  height: 100%;
  background: rgba(170, 170, 170, 0.38);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.spinner {
  max-width: 400px;
  max-height: 400px;
  position: relative;
  margin: auto;
}

#main-page,
#top-bar {
  transition: all 0.5s;
  height: 96vh;
}

.invisible {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.to-the-left {
    transform: translateY(-2000px);
    opacity: 0;
}

.to-the-right {
    transform: translateY(2000px);
    opacity: 0;
}

.back-to-middle {
    transform: translateX(0px);
    opacity: 1;
}
